

{% extends "base_generic.html" %}

{% block title %}
UofC Course - {{username}}'s Profile
{% endblock %}


{% block content %}

hi {{username}}, your course:

{% if course_list %}
    <ul>
    {% for course in course_list %}
   
        <li>
            <form action="{% url 'delete_course' course.id %}" method="post">
                {% csrf_token %}
                <a href="{% url 'viewCourse' course.id %}">{{ course }}</a>
                <input type="submit" value="X Delete Course" style="background: none;border: none;color:red;">
            </form>
        </li>

       
        
    {% endfor %}
    </ul>
{% else %}
    <p>you dont have a course yet.</p>
{% endif %}

    <p>create a course</p>

    <form action="" method = POST id = "courseForm" data-nums-url= "{% url 'ajax_load_num' %}" novalidate>
        {% csrf_token %}
        <table>
            {{ form.as_table }} 
          </table
        <br>
        <input type="submit" value="Create">
    </form>





    <script>
         $("#id_courseName").change(function () {
            var url = $("#courseForm").attr("data-nums-url");  
            var course = $(this).val();
            $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
            'course': course       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_courseNum").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
  </script>


{% endblock %}
